@model IEnumerable<LMS.Models.Book>
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-primary mt-3" onclick="location.href='@Url.Action("Book", "Add")'">Add Book</button>

<h2>Books</h2>



@foreach (var Book in Model)
{
     @Html.ActionLink(Book.Name,"DisplayBook","Search",new { id = Book.Id },null) <br />
}

