@model IEnumerable<LMS.Models.Book>
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Books</h2>




        <table id="book-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Info</th>
                    <th>Avaibility</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var Book in Model)
                {
                <tr>
                    <th> @Book.Name</th>
                    <th> @Html.ActionLink("Info", "DisplayBook", "Search", new { id = Book.Id }, null)</th>

                    @if (Book.Quantity != 0)
                    {
                        <th> Available </th>
                    }
                    else
                    {
                        <th> Out Of Stock </th>
                    }

                </tr>
                }
            </tbody>
        </table>
  
@section scripts
{
<script>
    $(document).ready(function () {
        $("#book-table").DataTable();
    })
</script>
 }



