@model IEnumerable<LMS.Models.Author>
@{
    ViewBag.Title = "AuthorsToBeUpdated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <h2>Authors To Be Updated</h2>

    <ul>
        @foreach (var author in Model)
        {
            <li>@Html.ActionLink(author.Name, "Author", "Update", new { id = author.Id},null)</li>
        }
    </ul>
}



